<!--<div class="col-md-6 col-md-offset-3">
  <p> hammad</p>
</div>-->


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="b1">
          <button md-fab class="navbar-right" routerLink="/app-signup-form" >sign up</button>
          
          <button md-fab class="navbar-right" routerLink="/app-form" >sign in</button>
          </div>
      <a class="navbar-brand">Collage App</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
    </div>
    <!--/.nav-collapse -->
    <!--<router-outlet></router-outlet>-->
  </div>
</nav>
